{% extends 'base.html.twig' %}

{% block title %}
    About us | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>About us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum elit nec enim bibendum convallis. Maecenas scelerisque arcu sed eros ullamcorper semper. Duis id libero dignissim, dapibus leo sed, porta odio. Curabitur tempus nibh eget leo fringilla posuere. Nullam vel urna at odio pulvinar rutrum sed eu dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tempus feugiat metus in auctor. Vestibulum pulvinar a dolor eget faucibus. Integer vel elit odio. Aliquam ornare fringilla tempor. Etiam metus tellus, laoreet eu urna non, egestas suscipit lacus. Donec semper felis viverra, consequat nibh vitae, semper dolor.
    </p>
{% endblock %}

