{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajouter un souhait:</h2>
    <div>
        {{ form_start(wishForm) }}

        {{ form_widget(wishForm) }}

        <div id="bouton">
            <button>Valider !</button>
        </div>

        {{ form_end(wishForm) }}
    </div>
{% endblock %}

{% block title %}
    Ajouter un souhait | {{ parent() }}
{% endblock %}

