{% extends 'base.html.twig' %}

{% block title %}
    ++ titre du souhait | parent() }}
{% endblock %}

{% block body %}
    <h2> Détails du souhait ++ titre du souhait.</h2>
    {# todo: afficher le details d'un souhait #}
    todo:  afficher le details d'un souhait
{% endblock %}



