{% extends 'base.html.twig' %}

{% block title %}
    Liste de souhaits | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Liste de souhait.</h2>
    {# todo: Créer une liste de souhaits #}
    todo: créer une liste de souhaite
{% endblock %}
