{% extends 'base.html.twig' %}

{% block title %}
    Liste de souhaits | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Liste de souhait.</h2>
   <ul>
    {% for wish in wishs %}
        <li><a href="{{ path('wish_details', {'id': wish.id}) }}" title="Un souhait.">{{ wish.title }} || {{ wish.categorie.name }}</a></li>
    {% endfor %}
   </ul>
{% endblock %}
