{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {# todo: Afficher le formulaire de création d'une série #}
    </div>
{% endblock %}

{% block title %}
    Create a new serie| {{ parent() }}
{% endblock %}


