<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bucket-list {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bucket-list</h1>
        {% include('inc/nav.html.twig') %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include('inc/nav.html.twig') %}
        <p>&copy; {{ "now"|date('Y') }} Bucket-list</p>
    </footer>
</body>
</html>
