{% extends 'base.html.twig' %}

{% block body %}
    <h2>Accès refusé. Vous n'avez pas la permission de consulter cette page. </h2>
    <h1 style="color: #B0413E">Error 403</h1>
{% endblock %}

{% block title %} Error 403 {% endblock %}