<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('wish_list') }}" title="Liste de souhait">Liste de souhaits</a></li>
        <li><a href="{{ path('wish_create') }}" title="Ajouter un souhait">Ajouter un souhait</a></li>
        <li><a href="{{ path('main_about_us') }}" title="About us">About us</a></li>
    </ul>
</nav>